html{
min-height: 100%;
    background-color: rgb(21, 25, 31);
    background: linear-gradient(black, rgb(63, 63, 63));

}

.APropos {
    color: rgb(21, 25, 31);
    font-size: 20px;
    display: grid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.APropos a {
    font-size: 16px;
    font-family: 'Journal 74', serif;
}

.APropos p {
    color: lightyellow;
    display: grid;
    max-width: 420px;
    font-size: clamp(16px, 3vw, 18px);
}

.APropos span {
    color: grey;
    display: grid;
    max-width: 420px;
    font-size: clamp(16px, 3vw, 18px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.APropos h2 {
    font-family: 'Journal 74', serif;
    font-size: clamp(16px, 3vw, 18px);
}

.APropos h1 {
    font-family: 'Bodoni Mutant', fantasy;
    font-size: clamp(30px, 5vw, 68px);
}
.contact{
    transition: 0.4s;
}
.contact:hover{
    opacity: 0.4;
}
.Affiches p{
    color: lightyellow;
    display: grid;
    max-width: 420px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 2px 4px rgb(21, 25, 31);

}

.Affiches span {
    display : grid; 
    max-width: 420px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 2px 4px rgb(21, 25, 31);
}

.AffichesGrille {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Trame {
    color: lightyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pagesTrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 4px 2px 4px rgb(21, 25, 31);
}

.Trame p {
    display : grid; 
    max-width: 420px;
    text-align: justify;
}

.Trame span {
    display : grid; 
    max-width: 420px;
    text-align: justify;
}

.Specimen span {
    display : grid; 
    max-width: 420px;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Specimen p {
    display : grid; 
    max-width: 420px;
    text-align: justify;
    color: lightyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.SpecimenGrille {
    display: grid;
    grid-template-columns: 1fr;
    text-align: justify;
}

h1 {
    color: lightyellow;
    text-align: center;
    padding: 10px;
    font-size: clamp(25px, 5vw, 68px);
    text-shadow: 4px 2px 4px black;
    font-family: 'Bodoni Mutant', fantasy;


}

h2 {
    color: orangered;
    font-family: 'Journal 74', serif;
    font-size: clamp(18px, 6vw, 30px)
}

span {
    color: gray;
}

img {
    width: 95%;
    height: 95%;
    padding: 0px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
    border-style: outset;
    border-color: gray;
    border-radius: 5px;
    border-width: thin;
    justify-content: center;
    align-items: center;
}

@media (min-width :600px) {
    .travaux {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }
}

@font-face {
    font-family: "Infini";
    src: url(fonts/infini-romain.woff) format("woff"), url(fonts/infini-romain.otf) format("opentype");
}

@font-face {
    font-family: "Bodoni Mutant";
    src: url(fonts/BODOM___.woff) format("woff"), url(fonts/BODOM___.TTF) format("truetype");
}
@font-face {
    font-family: "Journal 74";
    src: url(fonts/Journal-74.woff) format("woff"), url(font/Journal-74.otf) format("opentype")
}

.h1 {
    font-family: 'Bodoni Mutant', fantasy;
    grid-column: 1/6;
    grid-row: 2px;
    display: grid;
}

a {
    font-family: 'Journal 74', serif;
    color: white;
}
.cv{
    transition: 0.4s;
}
.cv:hover{
    opacity: 0.4;
}
.b{
    transition: 0.5s;
}
.b:hover{
    filter: saturate(5);
}
@keyframes defilement1{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}
.conteneur2{
    max-width: 600px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
}
.d2{
    width: 400%;
    height: 0;
    padding-top: 75%;
    background-color: black;
    background-image: url("photos/frise.jpg");
    background-size: contain;
    animation: defilement 10s linear infinite;
}    
@keyframes defilement{
    0%{transform: translate(0,0);}
    100%{transform: translate(-75%,0);}
}
.d1:hover, .d2:hover{
    animation-play-state: paused;
}