body {
    background-color: rgb(21, 25, 31);
    background-image: url(travaux/5.png);
    background-attachment: fixed;
}

h1 {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: clamp(25px, 5vw, 72px);
    text-shadow: 4px 2px 4px black;
    
}

img {
    width: 95%;
    height: 95%;
    padding: 0px;
    margin-right: auto;
    margin-left: 8px;
    margin-bottom: 5px;
    border-style: outset;
    border-color: black;
    border-radius:5px;
    border-width: thin;
}

@media (min-width :600px) {
    .travaux {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 7px;
    }
}

.img1 {
    grid-column: 1fr;
}

@font-face {
    font-family: "Infini";
    src: url(fonts/infini-romain.woff) format("woff"), url(fonts/infini-romain.otf) format("opentype");
}

.h1 {
    font-family: "Infini", fantasy;
    grid-column: 1/3

;
}
a{
    color:white;
    font-family: monospace;
}
.img7{
    grid-column: 1/3;
}