body {
    background-color: rgb(21, 25, 31);
    background-image: url(travaux/5.png);
    background-attachment: fixed;
}

h1 {
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: clamp(25px, 5vw, 72px);
    text-shadow: 4px 2px 4px black;
    
}

img {
    width: 95%;
    height: 95%;
    padding: 0px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
    border-style: outset;
    border-color: lightgoldenrodyellow;
    border-radius:5px;
    border-width: thin;
    justify-content: space-around;
}

@media (min-width :600px) {
    .travaux {
        display: grid;
        grid-template-columns: 3fr;
        gap: 5px;
    }
}

.img1 {
    grid-column: 2;
}

@font-face {
    font-family: "Infini";
    src: url(fonts/infini-romain.woff) format("woff"), url(fonts/infini-romain.otf) format("opentype");
}

.h1 {
    font-family: 'Infini', fantasy;
    grid-column: 1/6;
    grid-row:2px;
    display:grid;
;
}
a{
    grid-column-start: 2;
    font-family: "Courrier Sans", monospace;
    color:white;
}
.img5{
    grid-column: 2;
}
.img7{
    grid-column: 2/5;
    align-content: center;
    }
.cv{
    grid-column-start: 1; grid-column-end: 2;
}
.contact{
    grid-column-start: 2; grid-column-end: 3;
}